In [12]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [13]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Khatanga,RU,2021-01-18 20:36:53,71.9667,102.5000,-32.28,81,0,14.05
1,1,Port Macquarie,AU,2021-01-18 20:36:53,-31.4333,152.9167,68.00,100,40,5.75
2,2,Bykovo,RU,2021-01-18 20:36:53,55.6361,38.0803,3.00,84,40,2.24
3,3,Saint George,US,2021-01-18 20:36:53,37.1041,-113.5841,61.00,19,1,4.61
4,4,Punta Arenas,CL,2021-01-18 20:32:07,-53.1500,-70.9167,55.40,62,40,18.41

In [14]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [15]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [16]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [17]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [18]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [19]:
# Heatmap of cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [20]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [23]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [24]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.dropna()
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
7,7,Vaini,TO,2021-01-18 20:36:54,-21.2000,-175.2000,82.40,83,20,9.22
8,8,Kahului,US,2021-01-18 20:32:57,20.8947,-156.4700,75.20,73,75,13.80
9,9,Merauke,ID,2021-01-18 20:36:55,-8.4667,140.3333,76.33,88,95,4.61
11,11,Gladstone,AU,2021-01-18 20:36:55,-23.8500,151.2500,75.20,73,100,3.44
12,12,Tete,MZ,2021-01-18 20:36:55,-16.1564,33.5867,77.00,94,75,4.61
15,15,Arraial Do Cabo,BR,2021-01-18 20:36:55,-22.9661,-42.0278,84.20,61,0,23.02
23,23,Carnarvon,AU,2021-01-18 20:36:36,-24.8667,113.6333,80.60,94,43,8.05
24,24,Port-Gentil,GA,2021-01-18 20:36:58,-0.7193,8.7815,82.40,78,40,12.66
25,25,Butaritari,KI,2021-01-18 20:36:58,3.0707,172.7902,80.38,82,49,17.69
28,28,Hithadhoo,MV,2021-01-18 20:36:58,-0.6000,73.0833,80.35,65,0,3.80

In [25]:
preferred_cities_df.count()

City_ID       158
City          158
Country       157
Date          158
Lat           158
Lng           158
Max Temp      158
Humidity      158
Cloudiness    158
Wind Speed    158
dtype: int64

In [26]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

               City Country  Max Temp      Lat       Lng Hotel Name
7             Vaini      TO     82.40 -21.2000 -175.2000
8           Kahului      US     75.20  20.8947 -156.4700
9           Merauke      ID     76.33  -8.4667  140.3333
11        Gladstone      AU     75.20 -23.8500  151.2500
12             Tete      MZ     77.00 -16.1564   33.5867
15  Arraial Do Cabo      BR     84.20 -22.9661  -42.0278
23        Carnarvon      AU     80.60 -24.8667  113.6333
24      Port-Gentil      GA     82.40  -0.7193    8.7815
25       Butaritari      KI     80.38   3.0707  172.7902
28        Hithadhoo      MV     80.35  -0.6000   73.0833

In [27]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [33]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")
        
hotel_df.head(10)

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

,City,Country,Max Temp,Lat,Lng,Hotel Name
7,Vaini,TO,82.40,-21.2000,-175.2000,Keleti Beach Resort
8,Kahului,US,75.20,20.8947,-156.4700,Maui Seaside Hotel
9,Merauke,ID,76.33,-8.4667,140.3333,
11,Gladstone,AU,75.20,-23.8500,151.2500,Highpoint International
12,Tete,MZ,77.00,-16.1564,33.5867,Zambeze Paraíso Misterioso
15,Arraial Do Cabo,BR,84.20,-22.9661,-42.0278,Pousada Porto Praia
23,Carnarvon,AU,80.60,-24.8667,113.6333,Hospitality Carnarvon
24,Port-Gentil,GA,82.40,-0.7193,8.7815,Fengshui Residence
25,Butaritari,KI,80.38,3.0707,172.7902,Isles Sunset Lodge
28,Hithadhoo,MV,80.35,-0.6000,73.0833,Scoop Guest House

In [35]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [36]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [37]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [38]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))