## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [6]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("WeatherPy_Database-Copy1.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Jishou,CN,28.3167,109.7167,49.93,86,100,0.92,overcast clouds
1,1,Klaksvik,FO,62.2266,-6.5890,35.60,64,75,24.16,light snow
2,2,San Cristobal,VE,7.7669,-72.2250,65.05,85,37,1.36,scattered clouds
3,3,Ushuaia,AR,-54.8000,-68.3000,46.40,81,75,25.32,light intensity drizzle
4,4,Port Macquarie,AU,-31.4333,152.9167,90.00,44,46,1.99,scattered clouds

In [7]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 90

In [8]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
4,4,Port Macquarie,AU,-31.4333,152.9167,90.00,44,46,1.99,scattered clouds
6,6,Hilo,US,19.7297,-155.0900,75.20,64,75,6.80,light rain
12,12,Salalah,OM,17.0151,54.0924,75.20,38,0,20.71,clear sky
13,13,Busselton,AU,-33.6500,115.3333,90.00,42,0,3.00,clear sky
14,14,Atuona,PF,-9.8000,-139.0333,78.42,78,57,14.07,broken clouds
15,15,Thanh Hoa,VN,19.8000,105.7667,74.52,56,0,2.19,clear sky
17,17,East London,ZA,-33.0153,27.9116,71.80,84,0,14.07,clear sky
18,18,Hukuntsi,BW,-24.0000,21.7500,73.47,63,99,9.57,overcast clouds
20,20,Port-Gentil,GA,-0.7193,8.7815,80.69,77,100,6.76,overcast clouds
21,21,Arraial Do Cabo,BR,-22.9661,-42.0278,74.62,91,29,10.51,scattered clouds

In [9]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                240
City                   240
Country                239
Lat                    240
Lng                    240
Max Temp               240
Humidity               240
Cloudiness             240
Wind Speed             240
Current Description    240
dtype: int64

In [13]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
clean_df = preferred_cities_df.dropna()
clean_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
4,4,Port Macquarie,AU,-31.4333,152.9167,90.00,44,46,1.99,scattered clouds
6,6,Hilo,US,19.7297,-155.0900,75.20,64,75,6.80,light rain
12,12,Salalah,OM,17.0151,54.0924,75.20,38,0,20.71,clear sky
13,13,Busselton,AU,-33.6500,115.3333,90.00,42,0,3.00,clear sky
14,14,Atuona,PF,-9.8000,-139.0333,78.42,78,57,14.07,broken clouds
15,15,Thanh Hoa,VN,19.8000,105.7667,74.52,56,0,2.19,clear sky
17,17,East London,ZA,-33.0153,27.9116,71.80,84,0,14.07,clear sky
18,18,Hukuntsi,BW,-24.0000,21.7500,73.47,63,99,9.57,overcast clouds
20,20,Port-Gentil,GA,-0.7193,8.7815,80.69,77,100,6.76,overcast clouds
21,21,Arraial Do Cabo,BR,-22.9661,-42.0278,74.62,91,29,10.51,scattered clouds

In [14]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
4,Port Macquarie,AU,90.00,scattered clouds,-31.4333,152.9167,
6,Hilo,US,75.20,light rain,19.7297,-155.0900,
12,Salalah,OM,75.20,clear sky,17.0151,54.0924,
13,Busselton,AU,90.00,clear sky,-33.6500,115.3333,
14,Atuona,PF,78.42,broken clouds,-9.8000,-139.0333,
15,Thanh Hoa,VN,74.52,clear sky,19.8000,105.7667,
17,East London,ZA,71.80,clear sky,-33.0153,27.9116,
18,Hukuntsi,BW,73.47,overcast clouds,-24.0000,21.7500,
20,Port-Gentil,GA,80.69,overcast clouds,-0.7193,8.7815,
21,Arraial Do Cabo,BR,74.62,scattered clouds,-22.9661,-42.0278,

In [15]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [16]:
# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()   
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")
        
hotel_df.head(10)

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
4,Port Macquarie,AU,90.00,scattered clouds,-31.4333,152.9167,Rydges Port Macquarie
6,Hilo,US,75.20,light rain,19.7297,-155.0900,Hilo Hawaiian Hotel
12,Salalah,OM,75.20,clear sky,17.0151,54.0924,HAMDAN PLAZA HOTEL SALALAH
13,Busselton,AU,90.00,clear sky,-33.6500,115.3333,Observatory Guest House
14,Atuona,PF,78.42,broken clouds,-9.8000,-139.0333,Villa Enata
15,Thanh Hoa,VN,74.52,clear sky,19.8000,105.7667,KHÁCH SẠN NGỌC LY 8
17,East London,ZA,71.80,clear sky,-33.0153,27.9116,Tu Casa
18,Hukuntsi,BW,73.47,overcast clouds,-24.0000,21.7500,Entabeni Hotel
20,Port-Gentil,GA,80.69,overcast clouds,-0.7193,8.7815,Fengshui Residence
21,Arraial Do Cabo,BR,74.62,scattered clouds,-22.9661,-42.0278,Pousada Porto Praia

In [24]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna()
clean_hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
4,Port Macquarie,AU,90.00,scattered clouds,-31.4333,152.9167,Rydges Port Macquarie
6,Hilo,US,75.20,light rain,19.7297,-155.0900,Hilo Hawaiian Hotel
12,Salalah,OM,75.20,clear sky,17.0151,54.0924,HAMDAN PLAZA HOTEL SALALAH
13,Busselton,AU,90.00,clear sky,-33.6500,115.3333,Observatory Guest House
14,Atuona,PF,78.42,broken clouds,-9.8000,-139.0333,Villa Enata
...,...,...,...,...,...,...,...
663,Dingle,PH,82.80,light rain,10.9995,122.6711,SEGAYA PROPERTY
670,Ullal,IN,77.00,mist,12.8000,74.8500,AK INTERNATIONAL LODGE
671,Puerto Quijarro,BO,75.45,moderate rain,-17.7833,-57.7667,Hotel palance
675,Soe,ID,82.27,broken clouds,-9.8607,124.2840,Dena Hotel
676,Namatanai,PG,84.47,overcast clouds,-3.6667,152.4333,Namatanai Hotel

In [26]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_Vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [33]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [34]:
# 11a. Add a marker layer for each city to the map. 
locations = clean_hotel_df[["Lat", "Lng"]]
max_temp = clean_hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig
# 11b. Display the figure

Figure(layout=FigureLayout(height='420px'))